Repository cognitedata/cognite-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani, @cognitedata/grep, @cognitedata/vision-team, @cognitedata/reveal

.github/CODEOWNERS:

* @cognitedata/development-experiences @BugGambit @andersfylling @polomani

/packages/playground/src/api/documents @cognitedata/grep
/packages/playground/src/__tests__/api/documents* @cognitedata/grep
/packages/stable/src/api/documents @cognitedata/grep
/packages/stable/src/__tests__/api/documents* @cognitedata/grep

/packages/stable/src/api/vision @cognitedata/vision-team
/packages/stable/src/api/annotations @cognitedata/reveal

chore: transform ast to be alphabetically sorted
  packages/codegen/src/__tests__/testdata/8-serviceB-types.gen.ts
  packages/codegen/src/__tests__/testdata/cyclic-references-types.gen.ts
  packages/codegen/src/ast_transformers/sorter.ts
  packages/codegen/src/codegen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: don't lint testdata
  packages/codegen/.eslintignore
  packages/codegen/src/__tests__/testdata/8-serviceB-types.gen.ts
  packages/codegen/src/__tests__/testdata/cyclic-references-types.gen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: generate types
  packages/playground/src/api/documents/types.gen.ts
  packages/stable/src/api/documents/types.gen.ts
  packages/stable/src/api/vision/types.gen.ts
Owners: @cognitedata/grep, @cognitedata/vision-team

chore: remove old sorting logic
  packages/codegen/src/codegen.ts
  packages/codegen/src/utils.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: add comment about transformer order
  packages/codegen/src/codegen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat: new implementation in dataPointsApi retrieve
  packages/stable/package.json
  packages/stable/src/api/dataPoints/dataPointsApi.ts
  packages/stable/src/api/timeSeries/timeSeriesApi.ts
  packages/stable/src/api/utils/dataPointsUnitConverter.ts
  packages/stable/src/api/utils/unitConverter.ts
  packages/stable/src/types.ts
  samples/nodejs/legacy-auth-typescript/quickstart.ts
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: fixed compilation errors
  packages/stable/src/api/dataPoints/dataPointsApi.ts
  packages/stable/src/api/utils/dataPointsUnitConverter.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: tests are working
  packages/stable/src/__tests__/api/datapoints.int.spec.ts
  packages/stable/src/api/utils/dataPointsUnitConverter.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat: release
  .github/workflows/release.yaml
  packages/stable/src/__tests__/api/datapointsunitconv.init.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat(geospatial): add feature list
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore(geospatial): remove autoPaginateToArray by default
  packages/stable/src/api/geospatial/featureAPI.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: update unit package
  samples/typescript/units/package-lock.json
  samples/typescript/units/package.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: doc added
  package-lock.json
  package.json
  packages/stable/package.json
  samples/typescript/units/.gitignore
  samples/typescript/units/README.md
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: doc added
  package-lock.json
  packages/stable/src/__tests__/api/datapoints.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: add units in package
  packages/stable/package-lock.json
  packages/stable/package.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: rename package import
  packages/stable/src/api/utils/unitConverter.ts
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: rename package import
  packages/stable/package-lock.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: rename package import
  packages/stable/package-lock.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: rename package import
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: unit npm
  packages/stable/package.json
  samples/typescript/units/package-lock.json
  samples/typescript/units/package.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: conflict in package
  samples/typescript/units/.gitignore
  samples/typescript/units/README.md
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

docs: remove console logs
  packages/stable/src/__tests__/api/datapoints.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: conflict in package
  packages/stable/package-lock.json
  packages/stable/package.json
  packages/stable/src/__tests__/api/visionApi.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: conflict in package
  packages/stable/src/api/utils/unitConverter.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: conflict in package
  packages/stable/src/api/utils/unitConverter.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore(codegen): allow restricting which types from OpenAPI to use
  packages/codegen/src/codegen.ts
  packages/codegen/src/configuration.ts
  packages/codegen/src/generate.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: update OpenAPI snapshot
  packages/stable/src/.cognite-openapi-snapshot.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat(annotations): add auto-generated annotation payload types
  packages/stable/src/api/annotations/codegen.json
  packages/stable/src/api/annotations/types.gen.ts
  packages/stable/src/api/vision/types.gen.ts
  packages/stable/src/exports.gen.ts
Owners: @cognitedata/reveal, @cognitedata/vision-team, @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore(annotations): use newly-generated payload types
  packages/stable/src/types.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix(annotations): expand the AnnotatedResourceType type
  packages/stable/src/types.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: redeploy
  package-lock.json
  package.json
  packages/stable/package.json
  packages/stable/src/__tests__/api/datapoints.int.spec.ts
  packages/stable/src/__tests__/api/visionApi.int.spec.ts
  packages/stable/src/types.ts
  samples/typescript/units/.gitignore
  samples/typescript/units/README.md
  samples/typescript/units/package-lock.json
  samples/typescript/units/package.json
  samples/typescript/units/quickstart.ts
  tsconfig.json
  yarn.lock
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: remove lock files
  package-lock.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat: redeploy
  package.json
  packages/stable/package-lock.json
  packages/stable/package.json
  samples/typescript/units/.gitignore
  samples/typescript/units/README.md
  samples/typescript/units/package-lock.json
  samples/typescript/units/package.json
  tsconfig.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: add missing folders in library'
  packages/stable/package.json
  packages/stable/src/api/utils/unitConverter.ts
  samples/typescript/units/package-lock.json
  samples/typescript/units/package.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

test: fix tests + add new test
  packages/codegen/src/__tests__/codegen.uint.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

test: fix test for annotationsApi
  packages/stable/src/__tests__/api/annotationsApi.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: lint fix
  packages/codegen/src/__tests__/codegen.uint.spec.ts
  packages/stable/src/__tests__/api/annotationsApi.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: make fields in annotation data filter optional
  packages/stable/src/types.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

fix: lint fix
  packages/stable/src/__tests__/api/annotationsApi.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: fixed units sample
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani
