Repository cognitedata/cognite-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani, @cognitedata/grep, @cognitedata/vision-team, @cognitedata/reveal

.github/CODEOWNERS:

* @cognitedata/development-experiences @BugGambit @andersfylling @polomani

/packages/playground/src/api/documents @cognitedata/grep
/packages/playground/src/__tests__/api/documents* @cognitedata/grep
/packages/stable/src/api/documents @cognitedata/grep
/packages/stable/src/__tests__/api/documents* @cognitedata/grep

/packages/stable/src/api/vision @cognitedata/vision-team
/packages/stable/src/api/annotations @cognitedata/reveal

chore: fix unit converter imports and improve code
  package.json
  packages/stable/package.json
  packages/stable/src/__tests__/api/datapoints.int.spec.ts
  packages/stable/src/api/utils/unitConverter.ts
  samples/typescript/units/quickstart.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: sort produced abstract syntax tree alphabetically
  packages/codegen/.eslintignore
  packages/codegen/src/__tests__/testdata/8-serviceB-types.gen.ts
  packages/codegen/src/__tests__/testdata/cyclic-references-types.gen.ts
  packages/codegen/src/ast_transformer/sorter.ts
  packages/codegen/src/codegen.ts
  packages/codegen/src/generator/acacode.ts
  packages/codegen/src/generator/generator.ts
  packages/playground/.eslintignore
  packages/stable/.eslintignore
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: remove old faulty sorting logic
  packages/codegen/src/utils.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: run codegen for stable package
  packages/stable/src/api/documents/types.gen.ts
  packages/stable/src/api/vision/types.gen.ts
Owners: @cognitedata/grep, @cognitedata/vision-team

chore: run codegen for playground package
  packages/playground/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

chore: remove invalid import
  packages/codegen/src/codegen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: readjust formatting
  packages/codegen/src/__tests__/testdata/8-serviceB-types.gen.ts
  packages/codegen/src/__tests__/testdata/cyclic-references-types.gen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: cleanup transformer
  packages/codegen/src/ast_transformer/sorter.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: add transformer for CursorAndAsyncIterator
  packages/codegen/src/ast_transformer/cursor_and_async_iterator.ts
  packages/codegen/src/codegen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

chore: run codegen for stable package
  packages/stable/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

feat: update types for documents api
  packages/stable/src/api/documents/aggregateApi.ts
  packages/stable/src/api/documents/documentsApi.ts
Owners: @cognitedata/grep

feat: generate types for playground package
  packages/playground/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

refactor: make relevant name-list optional
  packages/codegen/src/codegen.ts
  packages/codegen/src/generate.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

revert: don't supply empty arrays in tests
  packages/codegen/src/__tests__/codegen.uint.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani

feat(annotations): add annotation payload types (#905)
  packages/codegen/src/__tests__/codegen.uint.spec.ts
  packages/codegen/src/codegen.ts
  packages/codegen/src/configuration.ts
  packages/codegen/src/generate.ts
  packages/stable/src/.cognite-openapi-snapshot.json
  packages/stable/src/api/annotations/codegen.json
  packages/stable/src/api/annotations/types.gen.ts
  packages/stable/src/api/vision/types.gen.ts
  packages/stable/src/exports.gen.ts
  packages/stable/src/types.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani, @cognitedata/reveal, @cognitedata/vision-team

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
  packages/beta/CHANGELOG.md
  packages/beta/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/stable/CHANGELOG.md
  packages/stable/package-lock.json
  packages/stable/package.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @polomani
