Repository cognitedata/cognite-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli, @cognitedata/grep, @cognitedata/subsurface-data

chore: readme for workdir
  scripts/utils/documents/README.md
Owners: @cognitedata/grep

chore: update dependencies
  yarn.lock
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore: build script
  scripts/utils/documents/build-types.sh
Owners: @cognitedata/grep

feat: first version of code generator
  scripts/utils/documents/index.js
Owners: @cognitedata/grep

chore: generate types
  packages/playground/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

chore: remove existing types
  packages/playground/src/types.ts
Owners: @cognitedata/grep

chore: update unit tests
  packages/playground/src/__tests__/api/documentsApi.uint.spec.ts
Owners: @cognitedata/grep

chore: update classifiers api
  packages/playground/src/api/documents/classifiersApi.ts
Owners: @cognitedata/grep

chore: update documents api
  packages/playground/src/api/documents/documentsApi.ts
Owners: @cognitedata/grep

chore: update feedback api
  packages/playground/src/api/documents/feedbackApi.ts
Owners: @cognitedata/grep

chore: update pipelines api
  packages/playground/src/api/documents/pipelinesApi.ts
Owners: @cognitedata/grep

chore: update preview api
  packages/playground/src/api/documents/previewApi.ts
Owners: @cognitedata/grep

style: yarn lint:fix
  packages/playground/src/api/documents/previewApi.ts
  packages/playground/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

feat(geospatial): refactor feature APIs, filter types ,aggregateEndpoint
  package.json
  packages/core/src/baseResourceApi.ts
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
  packages/stable/src/api/geospatial/geospatialAPI.ts
  packages/stable/src/api/geospatial/types.ts
  yarn.lock
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli, @cognitedata/grep

chore(geospatial): place geojson type in stable package
  package.json
  packages/stable/package.json
  yarn.lock
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore: make mkdir fail silently
  scripts/utils/documents/build-types.sh
Owners: @cognitedata/grep

feat: support query parameters
  scripts/utils/documents/index.js
Owners: @cognitedata/grep

chore: generate types
  packages/playground/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

chore: utilize new types
  packages/playground/src/api/documents/documentsApi.ts
  packages/playground/src/api/documents/feedbackApi.ts
Owners: @cognitedata/grep

feat: generate enums as union types instead
  packages/playground/src/__tests__/api/documentsApi.uint.spec.ts
  packages/playground/src/api/documents/classifiersApi.ts
  packages/playground/src/api/documents/types.gen.ts
  scripts/utils/documents/index.js
Owners: @cognitedata/grep

fix: use optional for possibly undefined values
  packages/playground/src/__tests__/api/documentsApi.uint.spec.ts
Owners: @cognitedata/grep

chore(geospatial): update types for breaking API changes
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): updates Geospatial type
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): remove filter bifurcation
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): updates searchSpec
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): adds crs & js code examples
  packages/stable/src/api/geospatial/crsAPI.ts
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
  packages/stable/src/api/geospatial/geospatialAPI.ts
  packages/stable/src/api/geospatial/types.ts
  packages/stable/src/api/spatial/featuresAPI.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): change generic id type for retrieve
  packages/core/src/baseResourceApi.ts
  packages/stable/src/api/geospatial/crsAPI.ts
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/grep, @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): remove output params from delete feature
  packages/stable/src/api/geospatial/featureAPI.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): change crs endpoint
  packages/stable/src/api/geospatial/crsAPI.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): add more filters
  packages/stable/src/api/geospatial/types.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): fix example
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(geospatial): fix examples
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

feat(core): add generic for id, path to aggregate
  packages/core/src/baseResourceApi.ts
Owners: @cognitedata/grep

feat(core): add generic for id, path to aggregate (#726)
  packages/core/src/baseResourceApi.ts
Owners: @cognitedata/grep

chore(release): publish new package versions [skip ci]
  packages/beta/CHANGELOG.md
  packages/beta/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/stable/CHANGELOG.md
  packages/stable/package.json
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli, @cognitedata/grep

chore(geospatial): updates spatial to geospatial & type name changes (#720)
  packages/stable/package.json
  packages/stable/src/api/geospatial/crsAPI.ts
  packages/stable/src/api/geospatial/featureAPI.ts
  packages/stable/src/api/geospatial/featureTypeAPI.ts
  packages/stable/src/api/geospatial/geospatialAPI.ts
  packages/stable/src/api/geospatial/types.ts
  packages/stable/src/api/spatial/crsAPI.ts
  packages/stable/src/api/spatial/featureTypesAPI.ts
  packages/stable/src/api/spatial/featuresAPI.ts
  packages/stable/src/api/spatial/spatialAPI.ts
  packages/stable/src/api/spatial/types.ts
  packages/stable/src/cogniteClient.ts
  packages/stable/src/types.ts
  yarn.lock
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

feat(geospatial): change readme for release commit
  packages/stable/README.md
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

feat(geospatial): updates spatial to geospatial & type name (#727)
  packages/stable/README.md
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli

chore(release): publish new package versions [skip ci]
  packages/beta/CHANGELOG.md
  packages/beta/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/stable/CHANGELOG.md
  packages/stable/package.json
Owners: @cognitedata/cdf-user-experience, @peternic, @jarlah, @bdimitrijoski, @andersfylling, @ebrattli, @cognitedata/grep

.github/CODEOWNERS:

* @cognitedata/cdf-user-experience @peternic @jarlah @bdimitrijoski @andersfylling @ebrattli
/packages/core/ @cognitedata/grep
/packages/playground/ @cognitedata/grep
/scripts/utils/documents/ @cognitedata/grep
/packages/wells/ @cognitedata/subsurface-data
