Repository cognitedata/cognite-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @cognitedata/airviz, @cognitedata/grep, @cognitedata/vision-team

.github/CODEOWNERS:

* @cognitedata/development-experiences @BugGambit @andersfylling

/packages/alpha @cognitedata/airviz

/packages/playground/src/api/documents @cognitedata/grep
/packages/playground/src/__tests__/api/documents* @cognitedata/grep
/packages/stable/src/api/documents @cognitedata/grep
/packages/stable/src/__tests__/api/documents* @cognitedata/grep

/packages/stable/src/api/vision @cognitedata/vision-team

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
Owners: @cognitedata/airviz

feat(alpha): monitoring tasks api
  packages/alpha/src/__tests__/api/alertsApi.int.spec.ts
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/__tests__/testUtils.ts
  packages/alpha/src/api/monitoringTasks/monitoringTasksApi.ts
  packages/alpha/src/cogniteClient.ts
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

chore: update docs in the readme
  packages/alpha/README.md
Owners: @cognitedata/airviz

test: improve integration tests
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
Owners: @cognitedata/airviz

chore: add copy
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/api/alerts/alertsApi.ts
  packages/alpha/src/api/alerts/channelsApi.ts
  packages/alpha/src/api/alerts/subscribersApi.ts
  packages/alpha/src/api/alerts/subscriptionsApi.ts
  packages/alpha/src/api/monitoringTasks/monitoringTasksApi.ts
Owners: @cognitedata/airviz

docs: update readme
  packages/alpha/README.md
Owners: @cognitedata/airviz

test: skip geospatial integration tests
  packages/stable/src/__tests__/api/geospatial.int.spec.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling

feat(alpha): monitoring tasks api (#921)
  packages/alpha/README.md
  packages/alpha/src/__tests__/api/alertsApi.int.spec.ts
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/__tests__/testUtils.ts
  packages/alpha/src/api/alerts/alertsApi.ts
  packages/alpha/src/api/alerts/channelsApi.ts
  packages/alpha/src/api/alerts/subscribersApi.ts
  packages/alpha/src/api/alerts/subscriptionsApi.ts
  packages/alpha/src/api/monitoringTasks/monitoringTasksApi.ts
  packages/alpha/src/cogniteClient.ts
  packages/alpha/src/types.ts
  packages/stable/src/__tests__/api/geospatial.int.spec.ts
Owners: @cognitedata/airviz, @cognitedata/development-experiences, @BugGambit, @andersfylling

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
Owners: @cognitedata/airviz

feat(alpha): add alert subscribers delete
  packages/alpha/src/__tests__/api/alertsApi.int.spec.ts
  packages/alpha/src/api/alerts/alertsApi.ts
  packages/alpha/src/api/alerts/subscribersApi.ts
Owners: @cognitedata/airviz

fix(alpha): rename monitoringtask to monitoringtasks
  packages/alpha/src/cogniteClient.ts
Owners: @cognitedata/airviz

fix(alpha): rename monitoringtask to monitoringtasks (#924)
  packages/alpha/src/cogniteClient.ts
Owners: @cognitedata/airviz

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
Owners: @cognitedata/airviz

fix: add codegen support for CusrorAndAsyncIterator (#907)
  packages/codegen/.eslintignore
  packages/codegen/src/__tests__/testdata/8-serviceB-types.gen.ts
  packages/codegen/src/__tests__/testdata/cyclic-references-types.gen.ts
  packages/codegen/src/ast_transformer/cursor_and_async_iterator.ts
  packages/codegen/src/ast_transformer/sorter.ts
  packages/codegen/src/codegen.ts
  packages/codegen/src/generator/acacode.ts
  packages/codegen/src/generator/generator.ts
  packages/codegen/src/utils.ts
  packages/playground/.eslintignore
  packages/playground/src/api/documents/types.gen.ts
  packages/stable/.eslintignore
  packages/stable/src/api/annotations/types.gen.ts
  packages/stable/src/api/documents/aggregateApi.ts
  packages/stable/src/api/documents/documentsApi.ts
  packages/stable/src/api/documents/types.gen.ts
  packages/stable/src/api/vision/types.gen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @cognitedata/grep, @cognitedata/vision-team

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
  packages/beta/CHANGELOG.md
  packages/beta/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/stable/CHANGELOG.md
  packages/stable/package-lock.json
  packages/stable/package.json
Owners: @cognitedata/airviz, @cognitedata/development-experiences, @BugGambit, @andersfylling

fix(alpha): export cognite client properly
  packages/alpha/src/index.ts
Owners: @cognitedata/airviz

docs: improve docs
  packages/alpha/README.md
Owners: @cognitedata/airviz

fix(alpha): export cognite client properly (#931)
  packages/alpha/README.md
  packages/alpha/src/index.ts
Owners: @cognitedata/airviz

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
Owners: @cognitedata/airviz

feat(alpha): monitoring task listing and model change
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

convert back to interfaces - introduce cast
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

lint
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

add enum constant for modelExternalId choices
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

fix: test import
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
Owners: @cognitedata/airviz

fix: test ts id
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
Owners: @cognitedata/airviz

chore: fetch latest
  packages/stable/src/.cognite-openapi-snapshot.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling

chore: fetch latest
  packages/stable/src/.cognite-openapi-snapshot.json
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling

fix(stable): generate types
  packages/stable/src/api/documents/types.gen.ts
Owners: @cognitedata/grep

fix: types
  packages/alpha/src/types.ts
Owners: @cognitedata/airviz

fix: types
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
Owners: @cognitedata/airviz

fix: up
  packages/alpha/src/__tests__/api/monitoringTasksApi.int.spec.ts
Owners: @cognitedata/airviz

feat(alpha): add alert subscribers delete (#923)
  packages/alpha/src/__tests__/api/alertsApi.int.spec.ts
  packages/alpha/src/api/alerts/alertsApi.ts
  packages/alpha/src/api/alerts/subscribersApi.ts
Owners: @cognitedata/airviz

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
Owners: @cognitedata/airviz

fix(stable): document preview fields that were optional (#933)
  packages/stable/src/.cognite-openapi-snapshot.json
  packages/stable/src/api/documents/types.gen.ts
Owners: @cognitedata/development-experiences, @BugGambit, @andersfylling, @cognitedata/grep

chore(release): publish new package versions [skip ci]
  packages/alpha/CHANGELOG.md
  packages/alpha/package.json
  packages/beta/CHANGELOG.md
  packages/beta/package.json
  packages/playground/CHANGELOG.md
  packages/playground/package.json
  packages/stable/CHANGELOG.md
  packages/stable/package-lock.json
  packages/stable/package.json
Owners: @cognitedata/airviz, @cognitedata/development-experiences, @BugGambit, @andersfylling
